body {
  text-align: center;
  background-color: rgba(54, 49, 49, 0.87);
}
* {
  margin: 0;
  padding: 0;
}

h1 {
  margin-top: 15px;
  font-size: 300%;
  color: rgb(142, 127, 255);
  height: 60px;
  width: 100vw;
  background-color: aquamarine;
}
button {
  margin-top: 60px;
  font-size: 25px;
  border: 1px solid greenyellow;
  border-radius: 15px;
  height: 60px;
  width: 80px;
  color: rgb(114, 224, 199);
  background-color: rgb(182, 125, 189);
}
#buttons {
    display: flex;
    justify-content: space-evenly;

}